[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
huey = "*"

[dev-packages]
ipdb = "*"
pylama = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
