[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
huey = "*"

[dev-packages]
ipdb = "*"
pylama = "*"
autopep8 = "*"

[requires]
python_version = "3.7"

[scripts]
django = "./watchlist/manage.py runserver 8080"
test = "python watchlist/manage.py test watchlist"
huey = "./watchlist/manage.py run_huey -w 3"
stop = "pkill -f watchlist/manage.py"