{% extends "base.html" %}

{% block left %}

    <span class="column px-6 pt-0">
    <h3 class="title is-3">{{stock.code}} - {{stock.name}}</h3>
    <h3 class="title is-3">R$ {{stock.price}}</h3></span>
    <div class="column mx-6">
        <table class="table is-fullwidth is-striped mt-6">
            <thead>
                <th>Data</th>
                <th>Preço</th>
            </thead>
            <tbody>
                {% for data in stock_history %}
                <tr>
                    <td>{{data.created_at}}</td>
                    <th>{{data.price}}</th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}
